@font-face {
  font-family: 'TanNimbus'; /* Nom que vous utiliserez dans votre CSS */
  src: url('./assets/fonts/tan-nimbus.otf') format('opentype'); /* Chemin et format */
  font-weight: normal; /* Poids de la police (normal, bold, etc.) */
  font-style: normal; /* Style de la police (normal, italic, etc.) */
}

@font-face {
  font-family: 'Outfit'; /* Nom que vous utiliserez dans votre CSS */
  src: url('./assets/fonts/Outfit.ttf') format('truetype'); /* Chemin et format TrueType */
  font-weight: normal; /* Poids de la police (normal, bold, etc.) */
  font-style: normal; /* Style de la police (normal, italic, etc.) */
}

:root {
  --green: #0C3C29;
  --beige: #FFEDB6;
}



body {
  background-color: var(--green);

}


/* NAV BAR */
.navBar {
  display: flex;
  list-style-type: none ;
  margin-left: 10rem;
  margin-top: 2rem;
}

.navBar a {
  font-family: 'Outfit';
  font-style: light ;
  font-weight: 100; ;
  color: var(--beige);
  font-size: 1rem;
  text-decoration: none;
  margin-right: 30px;
  padding-bottom: 0.3rem;

  &:hover {

    border-bottom: solid 2px var(--beige)
  }

}

ul {
  padding-inline-start: 0px !important;
}

p{
  font-family: 'Outfit';
  font-style: light ;
  font-weight: 100; ;
  color: var(--beige);
  font-size: 1rem;
  text-decoration: none;

}

h3 {
  font-family: 'TanNimbus';;
  font-weight: 400; ;
  color: var(--beige);
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;



}

h4{
  margin-top: 2rem;
}

.box {
  background-color: #093121;
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem 4rem;
  box-shadow: 2px 4px 10px 0px rgba(33, 33, 33, 0.8);
}


/* HOME */
.name{
  margin-left: 10rem;
  margin-top: 6rem;
}
.name h1 {
  font-family: 'TanNimbus';
  font-size: 4rem;
  font-weight: 400;
  color: var(--beige);
  letter-spacing: 2px;
}

.name h2 {
  font-family: 'TanNimbus';
  font-weight: 400;
  color: var(--beige);
  margin-top: 3.5rem;
}

.bar {
  color: var(--beige);
  margin-left: 10rem;
  padding: auto 0;
  font-weight: 900;
  font-style: bold;
}

.icon-home {
  font-size: 2rem;
  padding: auto;
  margin-right: 0.5rem;

}

.social {
  margin-left: 1rem;
}

.social a {
  color: var(--beige);

  font-size: 1.5rem;
  text-decoration: none;
}

.arrow-down-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.arrow-down {
  font-size: 1.5rem;
  font-weight: 300;
  background-color: var(--beige);
  color: var(--green);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;

  margin-top: 1rem;
  transform: scale(0.8);
}

/* ABOUT */

.about-me {
  display: flex;
  gap: 0;

}
.photo {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: auto 5rem auto 0;

  flex-shrink: 0;
  box-shadow: 20px 10px 0px 0px var(--beige);

}

.about-me p {
  padding: 0 0 0 5rem;
}



.text {
  margin-right: 5rem;
}

/* SKILLS */
.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Crée 4 colonnes de largeur égale */
  gap: 1rem; /* Espace entre les éléments */
  margin-left: 5rem;
  margin-right: 10rem;
}

.skill {
  display: flex;
  align-items: center; /* Centre verticalement le contenu */

  border: solid 1.5px var(--beige);
  border-radius: 50px;
  height: 3.5rem;
  width: 8.9rem;
  padding-left: 1rem;

  &:hover{
    box-shadow: 0 0 10px 0 var(--beige);
  }

}

.skill h5 {
  font-family: 'Outfit';
  color: var(--beige);
  font-weight: 100;
  font-size: 1rem;
  margin-left: 1rem;
}

.skills img {
  width: 35px;
  height: auto;
  ;
}

.skills-titles{
    margin-top: 3rem;
    margin-left: 5rem;
}


/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.project {
  background-color: var(--green);
  border-radius: 10px;

  box-shadow: 2px 4px 10px 0px rgba(33, 33, 33, 0.8);
  transition: 0.3s ease-in-out;

  &:hover{
    box-shadow: 0 0 10px 0 var(--beige);
    transform: scale(1.02);
  }

}

.project img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  margin: 0 !important;
}

.project p {
  padding-left: 1em;

}

.languages {
  display: flex;
  margin-left: 1rem;
}

.language {
  display: flex; /* Active flexbox */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  border: solid 1px var(--beige);
  border-radius: 20px;
  width: 3rem;
  height: 1.5rem;
  margin-right: 0.7rem;
  margin-bottom: 2rem;

  &:hover {

    background-color: var(--beige);
    p{
      color: var(--green);
    }
  }
}

.language p {
  font-size: 0.7rem;
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime tout padding */
}


/* Training */

.training {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  flex-wrap: nowrap; /* Empêche de revenir à la ligne */
}

.course-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 30%; /* Ajustez pour la largeur souhaitée */
  min-width: 200px; /* Largeur minimale pour garantir une bonne lisibilité */
}

.course {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.course-photo {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.course-title {
  font-size: 16px;
  font-weight: bold;
}

.selected-course {
  flex: 1; /* Prend tout l'espace restant */
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  
}

.selected-course img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 1rem;
}

h3, h4 {
  margin: 10px 0;
}






/* Contact */

.contact-resume {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  align-items: center; /* Optionnel, aligne verticalement les éléments au centre */
  justify-content: center
}

.resume a {
  font-family: 'Outfit';
  color: var(--beige);
  text-decoration: none;
  font-weight: 100;
  font-size: 1rem;
  border: solid 1px var(--beige);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  display: inline-flex; /* S'assure que le lien est un élément en ligne pour être aligné avec le texte */
  align-items: center; /* Pour centrer l'icône et le texte à l'intérieur du lien */
  gap: 0.5rem; /* Espace entre l'icône et le texte */

  &:hover {
    background-color: var(--beige);
    color: var(--green);
  }
}
