@media (max-width: 767px) {

  * {
    box-sizing: border-box;
  }




  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  .navBar {
    margin-left: -5rem!important;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: var(--dark-green);
    margin-top: 0!important;
    margin-bottom: 5rem!important;

  }


  .name h1 {
    margin-top: 13rem!important;
    font-size: 3rem!important;
    margin-left: -8rem;
  }

  .name h2 {
    margin-top: 3rem!important;
    margin-left: -8rem;
  }

  .bar {
    margin-left: 3rem!important;
  }

  .social {
    margin-right: 3rem;
  }

  .arrow-down {
    margin-top: 5rem!important;
    margin-bottom: 10rem!important;
  }

  .box {
    margin: 2rem auto!important;
    width: 90%;
    padding: 2rem!important;
  }


 .about-me {
  display: flex;
  gap: 0;
  flex-direction: column; /* Par défaut, mettre l'image au-dessus du texte */
  align-items: center; /* Centrer horizontalement */

}

.photo {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 0 auto!important; /* Ajuster la marge pour centrer l'image */
  flex-shrink: 0;

}

.about-me p {
  justify-content: center!important;
  margin-top: 1.5rem;
  text-align: center; /* Centrer le texte */
  padding: 0 1rem 0 0!important;
  width: 150%!important;
}

.skills-titles {
  margin-top: 1.5rem!important;
  margin-bottom: 1.5rem!important;
  margin-left: 1rem!important;
}

.skills {
  width: 50%!important;
  margin-right: 5rem!important;
  margin-left: 1.5rem!important;
  grid-template-columns: repeat(2, 1fr) !important;
  padding: 0!important;
}

.skill {
  width: 7rem!important;
  height: 3rem!important;
  padding-left: 0.5rem!important;
}

.skill h5 {
  font-size: 0.8rem!important;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem !important;

}

.skills img {
  width: 20px!important;
}

.project {
  margin-top: 2rem;
  width: 100%!important;
}

.modal-dialog {
  margin: 0 auto !important;

}

.training {
  display: flex!important;
  flex-direction: column!important;
  padding: 0!important;
  gap: 0!important;
}

.course-list {
  padding: 0!important;
}

.course li {
  padding: 0!important;
  margin: 0!important;
}

.selected-course {
  margin-top: 0!important;
}

.selected-course img {
  height: 10rem!important;
}

.contact-resume {
  display: flex!important;
  flex-direction: column!important;
  gap: 15px!important;

}
.resume a {
  font-size: 1rem!important;
  padding: 0.3rem 0.5rem!important;
}

.contact p {
  font-size: 1rem!important;}
}

.hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--beige)!important;
  cursor: pointer;
  margin-left: 7rem;
  margin-top: -3rem;
}

.cross {
  color: var(--beige)!important;
  color: var(--beige);
  font-size: 2rem;
}

.text-xs {

  font-size: 1.3rem!important;
  margin-bottom: 5px;

}

.navBar ul {
  margin-top: 1rem!important;
  padding-left: 1rem!important;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 767px) {
  .navBar ul {
    display: none;
  }

  .navBar ul.block {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {

  .skills {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .training {
    display: flex!important;
    flex-direction: column!important;
    padding: 0!important;
    gap: 0!important;
  }

  .course-list {
    padding: 0!important;
    margin-top: 2rem!important;
  }

  .course-list ul {
    padding: 0!important;
    margin-top: 4rem!important;
  }

  .course li {
    padding: 0!important;
    margin: 0!important;
  }

  .selected-course {
    margin-top: 0!important;
  }

  .selected-course img {
    height: 10rem!important;
  }

  .projects {
    display: flex!important;
  }
}
